html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'robotolight', 'Helvetica', 'Arial', sans-serif;
  font-size: 16px;
  background-color: #fcfcfc;
  box-sizing: border-box;
}

.searcher {
  max-height: 600px;
  overflow: auto;
  width: 800px;
  margin: 0 auto;
}

.search__block input[type="text"]{
  margin: 0 auto;
  padding: 10px;
  font-size: 1.4em;
  width: 95%;
}

.search__block h5 {
  width: 15%;
}

.search__results {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

.search__result {
  width: 100%;
  margin-top: 15px;
  padding: 25px;
}

.search__result img {
  margin-top: 10px;
  width: 20%; 
}

.search__result-description {
  width: 40.9%;
  display: inline-block;
  padding: 5px 0 0 20px;
  vertical-align: top;
}

.search__result-venue {
  width: 32.9%;
  display: inline-block;
  padding-left: 20px;
  vertical-align: top;
}